body {
  margin: 0;
  background-color: #f7f7f7;
}
.container {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 50px auto; //在页面水平居中
  max-width: 600px;
  text-align: center; //里面的子元素水平居中
  border-radius: 5px;
  padding: 20px;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    input[type="text"] {
      padding: 10px;
      border: solid 1px blue;
      background-color: aquamarine;
      outline: none;
      width: 60%;
    }
    input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      outline: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #0062cc;
      }
    }
  }
  ul {
    list-style: none;
    .icon img {
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .temperature {
      font-size: 48px;
      font-weight: bold;
      margin: 20px 0;
    }
    .description {
      font-size: 24px;
      margin-bottom: 20px;
    }
    .details {
      display: flex; //横放
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      > div {
        //直接子元素
        padding: 20px;
        background-color: #f1f1f1;
        margin: 10px;
        border-radius: 5px;
        text-align: center;
      }
    }
  }
  @media (max-width: 768px) {
    form {
      flex-direction: column; //改成竖放
      input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
